
<div class="dropdown-divider"></div>
<a class="dropdown-item preview-item">
    <div class="preview-thumbnail">
        <div class="preview-icon bg-dark rounded-circle">
            <i class="mdi mdi-calendar text-success"></i>
        </div>
    </div>
    <div class="preview-item-content">
        <p class="preview-subject mb-1">Bugün Yapılacaklar</p>
        <p class="text-muted ellipsis mb-0"> ToDoList üzerinde yapılacak işler </p>
    </div>
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item preview-item">
    <div class="preview-thumbnail">
        <div class="preview-icon bg-dark rounded-circle">
            <i class="mdi mdi-settings text-danger"></i>
        </div>
    </div>
    <div class="preview-item-content">
        <p class="preview-subject mb-1">Ayarlar</p>
        <p class="text-muted ellipsis mb-0"> Dashboard Güncellendi</p>
    </div>
</a>
<div class="dropdown-divider"></div>
<a class="dropdown-item preview-item">
    <div class="preview-thumbnail">
        <div class="preview-icon bg-dark rounded-circle">
            <i class="mdi mdi-link-variant text-warning"></i>
        </div>
    </div>
    <div class="preview-item-content">
        <p class="preview-subject mb-1">Duyuru Detadyı</p>
        <p class="text-muted ellipsis mb-0"> Duyuru paneline git </p>
    </div>
</a>
<div class="dropdown-divider"></div>
<p class="p-3 mb-0 text-center">Tüm bildirimleri gör</p>