@using EntityLayer.Concrete
@model List<SocialMedia>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Sosyal Medya Listesi</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Başlık</th>
                            <th>Durum</th>
                           @* <th>Sil</th>*@
                            <th>Durum</th>
                            <th>Düzenle</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SocialMediaID</td>
                                <td>@item.Name</td>
                                <td>@item.Status</td>
@*                                <td><a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID" class="btn btn-outline-danger">Sil</a></td>
*@                                <td>
                                    <a href="/SocialMedia/Aktif/@item.SocialMediaID" class="btn btn-outline-success">Aktif</a>
                                    <a href="/SocialMedia/Pasif/@item.SocialMediaID" class="btn btn-outline-warning">Pasif</a>
                                </td>
                                <td><a href="/SocialMedia/EditSocialMedia/@item.SocialMediaID" class="btn btn-outline-success">Düzenle</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
                <a href="/SocialMedia/AddSocialMedia/" class="btn btn-outline-info">Yeni Deneyim Ekle</a>
            </div>
        </div>
    </div>
</div>





