
<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/Writer/DashboardWriter/Index/">
				<i class="mdi mdi-view-dashboard menu-icon"></i>
				<span class="menu-title">Dashboard</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/Message/ReceiverMessage/">
				<i class="mdi mdi-comment-processing menu-icon"></i>
				<span class="menu-title">Gelen Mesajlar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/Message/SenderMessage/">
				<i class="mdi mdi-message-draw menu-icon"></i>
				<span class="menu-title">Giden Mesajlar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/Message/SendMessage/">
				<i class="mdi mdi-pencil-box menu-icon"></i>
				<span class="menu-title">Yeni Mesaj</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/Default/Index/">
				<i class="mdi mdi-bell menu-icon"></i>
				<span class="menu-title">Duyurular</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/Profile/Index/">
				<i class="mdi mdi-account menu-icon"></i>
				<span class="menu-title">Profil</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/Profile/Index/">
				<i class="mdi mdi-settings menu-icon"></i>
				<span class="menu-title">Ayarlar</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/Login/LogOut/">
				<i class="mdi mdi-logout menu-icon"></i>
				<span class="menu-title">Çıkış Yap</span>
			</a>
		</li>
	</ul>
</nav>