
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<form class="form-group" method="post">
    <br />
    @Html.Label("Yetenek Başlığı")
    <input type="text" name="Title" class="form-control" />
    <br />
    @Html.Label("Değer")
    <input type="text" name="Value" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>
